---
title: Welcome to Dalen
---

<div class="welcome">
  <h1>Dalen is Watching</h1>
  <p class="doc">
    <%= link_to "This link references itself!", "https://dalenwbrauner.gitlab.io/middleman/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
